RewriteEngine On

RewriteRule ^create-note$ views/create-note.php

RewriteRule ^api/notes$ views/create-note.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]